.image_gallery_container img {
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
  padding: 4px;
}
.image_gallery_container img:hover {
  box-shadow: 10px 10px 10px rgba(0, 73, 33, 0.6);
  padding: 4px;
  transition: all 0.3s;
}
