.review_stars_wrapper {
  display: flex;
}
.empty_star {
  position: relative;
  line-height: 0;
}
.review_star_empty {
  position: absolute;
  left: 0;
  bottom: 0;
}
@media only screen and (min-width: 767px) {
  .review_stars_wrapper {
    font-size: 18px;
  }
  .review_stars_wrapper svg {
    margin: 0 1px;
  }
}
