.aboutus_container {
  background-color: #fff;
  border-radius: 0 0 350px 350px;
  border-bottom: 3px solid #bdbdbd;
}

/*  */
.aboutus_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 800px;
  margin: 0 auto;
}
.aboutus_content_item {
  position: relative;
  width: 170px;
  margin: 0;
  justify-self: center;
}
.aboutus_content_item:nth-last-child(7),
.aboutus_content_item:nth-last-child(2) {
  grid-column: 2 / span 2;
  justify-self: center;
}
.aboutus_content_item:nth-last-child(5) {
  margin-left: 80px;
  grid-row: 2;
  grid-column: 1 / span 2;
}
.aboutus_content_item:nth-last-child(4) {
  grid-column: 3 / span 2;
  grid-row: 2;
  margin-right: 100px;
}

.aboutus_content_item:nth-last-child(3),
.aboutus_content_item:nth-last-child(2),
.aboutus_content_item:nth-last-child(1) {
  grid-row: 3;
}

.aboutus_content_item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}
.aboutus_content_item_desc {
  font-family: var(--Nunito_Sans);
  font-size: 12px;
  font-weight: 800;
  background-color: #fff;
  padding: 4px 14px;
  border-radius: 8px;
  position: absolute;
  bottom: 0;
  left: -30px;
  transition: all 0.2s;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.aboutus_content_item:hover .aboutus_content_item_desc {
  background-color: #cdcdcd;
}
.aboutus_desc {
  font-family: var(--Nunito_Sans);
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  padding: 0 80px;
  text-align: center;
  margin-top: 50px;
}
.olive_container {
  background-image: url("../../assets/images/olive.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* transform: rotateX(180deg); */
  transform: rotateX(180deg) rotate(45deg);
  height: 130px;
  width: 220px;
  position: absolute;
  top: 50px;
  left: 0;
  opacity: 0.5;
}
.olive_container_2 {
  background-image: url("../../assets/images/olive_2.png");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(180deg);
  height: 200px;
  width: 250px;
  position: absolute;
  top: 20px;
  right: 10px;
  opacity: 0.5;
}

@media only screen and (max-width: 767px) {
  .olive_container {
    height: 50px;
    width: 100px;
    position: absolute;
    top: 10px;
    left: 20px;
    opacity: 0.5;
  }
  .olive_container_2 {
    height: 50px;
    width: 100px;
    top: 20px;
    right: 10px;
    opacity: 0.5;
  }
  .aboutus_container {
    border-radius: 0 0 150px 150px;
    border-bottom: 2px solid #bdbdbd;
  }
  .aboutus_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    column-gap: 40px;
    row-gap: 20px;
  }
  .aboutus_content_item {
    position: relative;
    width: 100px;
    margin: 0;
    justify-self: center;
  }
  .aboutus_content_item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }
  .aboutus_content_item:nth-last-child(5),
  .aboutus_content_item:nth-last-child(4) {
    margin: 0;
  }
  .aboutus_content_item_desc {
    font-size: 10px;
    font-weight: 700;
    padding: 4px 10px;
    border-radius: 6px;
  }
  .aboutus_desc {
    font-weight: 600;
    font-size: 14px;
    padding: 0;
    text-align: center;
    margin-top: 50px;
  }
}
