.guest_table {
  width: 100%;
  margin-top: 40px;
}
.guest_table_header {
  font-family: var(--Nunito_Sans);
  font-weight: 800;
  font-size: 16px;
  background-color: rgba(34, 100, 80, 0.81);
  display: grid;
  grid-template-columns: 35px 1fr 1fr 1fr 35px;
  border-collapse: collapse;
  color: #fff;
}
.guest_table_header p {
  border: 1px solid #ddd;
  align-self: center;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.filter_btn {
  cursor: pointer;
}
.clear_filter {
  background: none;
  color: #fff;
  font-family: var(--Nunito_Sans);
  font-size: 18px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .guest_table_header p {
    font-size: 14px;
    height: 40px;
  }
}
.guest_table_ {
  background-color: rgba(34, 100, 80, 0.55);
}
.guest_table_:nth-child(even) {
  background-color: rgba(34, 100, 80, 0.41);
}
.guest_table_item {
  font-family: var(--Nunito_Sans);
  font-weight: 800;
  font-size: 16px;
  /* background-color: #a0a0a091; */
  display: grid;
  align-items: center;
  grid-template-columns: 35px 1fr 1fr 1fr 35px;
  border-collapse: collapse;
  color: rgb(25, 73, 59);
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .guest_table_item {
    font-size: 14px;
  }
}
.guest_table_item .delete_btn {
  border: 1px solid #ddd;
  padding: 8px;
}

.guest_table_item_active {
  background-color: #226450cf;
}
.guest_table_item_title {
  border: 1px solid #ddd;
  padding: 8px;
  pointer-events: none;
}
.guest_table_header .delete_btn {
  text-align: center;
  font-size: 16px;
  color: #fff;
}
.guest_table_item .delete_btn {
  cursor: pointer;
}
.guest_table_item .delete_btn:hover {
  color: var(--color_danger);
}
.guest_table_item_content {
  display: flex;
  flex-direction: column;
  transition: all 0.5s;
  background-color: #fff;
}
.guest_table_item_content_item {
  font-family: var(--Nunito_Sans);
  font-weight: 400;
  font-size: 14px;
  display: grid;
  grid-template-columns: 40% 60%;
  align-items: center;
  border: 1px solid #d4d4d4;
}
.guest_table_item_content_item p {
  padding: 5px;
}
.guest_table_item_content_item_title {
  font-weight: 800;
}
.guest_table_item_content_item_desc {
  border-left: 1px solid #d4d4d4;
}
.filter_container {
  height: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 2 / span 3;
  transition: all 0.3s;
}
.filter_container input {
  height: 30px;
  width: 100%;
  outline: none;
  border: 1px solid transparent;
  font-family: var(--Nunito_Sans);
  font-weight: 400;
  font-size: 16px;
  padding-left: 20px;
}
.filter_container input:focus {
  border: 1px solid rgba(34, 100, 80, 0.61);
}
