.gallery_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.fancybox__container {
  border: 1px solid red;
  padding: 0 10px;
  height: 90%;
}
.gallery_item {
  margin: 20px 50px;
}
.gallery_item:hover img {
  transition: all 0.3s;
  box-shadow: 0 0 15px var(--white-color);
}
.gallery_item_title {
  font-family: var(--rubik);
  color: var(--white-color);
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}
.gallery_image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  object-position: bottom;
}
@media only screen and (max-width: 767px) {
  .gallery_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0 30px;
    row-gap: 20px;
  }
  .gallery_item {
    margin: 0;
  }
  .gallery_item:nth-last-child(3) {
    align-self: flex-start;
  }
  .gallery_item:nth-last-child(1) {
    align-self: flex-end;
  }
  .gallery_image {
    width: 150px;
    height: 100px;
  }
  .fancybox__toolbar {
    padding-right: 30px;
  }
}
