.user_container {
  height: auto;
  padding: 100px 0 100px;
}
.logout {
  width: 100%;
  font-family: var(--Nunito_Sans);
  font-weight: bold;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 50px;
  margin-bottom: 20px;
}
.logout button {
  background-color: var(--secondary-color);
  padding: 6px 20px;
  color: white;
  border-radius: 100px;
}
.user_btns_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  width: 50%;
  margin: 0 auto;
}
.user_btn {
  font-family: var(--Nunito_Sans);
  font-weight: bold;
  font-size: 16px;
  background-color: var(--secondary-color);
  padding: 6px 20px;
  color: white;
  border-radius: 100px;
  cursor: pointer;
  border: none;
  margin-bottom: 40px;
}
.user_btn:hover {
  background-color: rgba(34, 100, 80, 0.81);
}

@media only screen and (max-width: 767px) {
  .user_btns_container {
    width: 80%;
  }
}
