.concept_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 140px 0 80px;
}
.concept_items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 50px;
  margin: 0 auto;
  margin-top: 50px;
}
.concept_item {
  width: 350px;
  height: 350px;
}
.concept_name {
  font-family: var(--Nunito_Sans);
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: #5b6460;
  margin-bottom: 10px;
  /* width: 120%; */
}
.concept_item_content {
  position: relative;
  width: 350px;
  height: 350px;
  overflow: hidden;
}
.concept_item_desc {
  position: absolute;
  width: 100%;
  height: 350px;
  top: 0;
  z-index: 96;
  background: linear-gradient(180deg, rgba(4, 51, 59, 0.2), #000);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  transition: all 0.3s;
  transform: translateY(100%);
  row-gap: 30px;
  opacity: 0;
}
.concept_item_content:hover > .concept_item_desc {
  transform: translateY(0);
  opacity: 1;
}
.concept_item_desc p {
  font-family: var(--Nunito_Sans);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.read_more_btn {
  font-family: var(--Nunito_Sans);
  font-style: normal;
  font-weight: 6 00;
  font-size: 16px;
  color: rgb(70, 200, 218);
  background: none;
  cursor: pointer;
}
.read_more_btn:hover {
  color: rgb(68, 236, 124);
}
.concept_item .concept_slide-container {
  width: 100%;
  height: 350px;
  position: relative;
}
.concept_item .slick-slider {
  width: 100%;
  height: 350px;
  z-index: 95;
}
.concept_item .slick-slider img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.slick-track {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px 0; */
}
.slick-slide {
  box-shadow: none;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.concept_item .slide-wrapper {
  height: 478px;
  display: flex;
  grid-column: 1 / span 2;
  position: relative;
  transition: all 0.3s;
  left: 0;
}
.slick-arrow {
  background-color: transparent;
}
.concept_item .slide-arrow-wrapper,
.concept_item .slide_bar {
  display: none;
}
.concept_item .slick-slide::after {
  display: none;
}
@media screen and (max-width: 1300px) {
  .concept_items {
    row-gap: 20px;
    width: 80%;
  }
}
@media screen and (max-width: 1000px) {
  .concept_wrapper {
    padding: 0;
    padding-top: 100px;
  }
  .concept_item_content {
    position: relative;
    height: 300px;
    overflow: hidden;
  }
  .concept_item_desc {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 0;
    padding: 10px 20px;
    row-gap: 10px;
  }
  .concept_items {
    width: 100%;
    row-gap: 20px;
  }
  .concept_item {
    width: 350px;
    height: 300px;
    overflow: hidden;
  }
  .concept_name {
    font-size: 22px;
    line-height: 32px;
    color: #5b6460;
    margin-bottom: 10px;
  }
  .concept_item .concept_slide-container {
    width: 350px;
    height: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .concept_item .slick-slider {
    width: 350px;
    height: 250px;
    z-index: 95;
    overflow: hidden;
  }
  .concept_item .slick-slider img {
    width: 350px;
    height: 250px;
    object-fit: cover;
  }
}
